@{
    ViewData["Title"] = "Mapa de Risco";
}

<h2 class="text-success">🗺️ Mapa de Risco</h2>

<p>Visualização simplificada do risco na sua região.</p>

<div class="mt-3">
    <label for="estado" class="form-label">Selecione seu estado:</label>
    <select id="estado" class="form-select w-25 border-success">
        <option>SP</option>
        <option>RJ</option>
        <option>MG</option>
    </select>
</div>

<div class="alert alert-info mt-4">
    🌧️ Atenção: Previsão de chuvas intensas em São Paulo.<br />
    👉 Leve capa de chuva e evite áreas alagadas.
</div>